body {
    margin: 0 auto;
    width: 55%;
}

p {
    font-size: 1.2rem;
}

article {
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0px 0px 15px 5px #000000;
    border-radius: 15px;
}

#header, #footer {
    border: solid black 2px;
    padding: 1%;
}

#header {
    display: flex;
    border-radius: 15px 15px 0 0;
}

#header img {
    width: 10%;
    height: 10%;
    margin-right: 1%;
}

#header p {
    margin-bottom: -5%;
}

#header div {
    display: flex;
    flex-direction: column;
}

#main img {
    width: 100%;
}

#footer {
    display: flex;
    margin-top: -0.5%;
    border-radius: 0 0 15px 15px;
}

#footer img {
    width: 5%;
}

#droite img {
    display: inline-block;
    width: 12%;
    margin-top: -0.5%;
    margin-left: 88%;
}

#likes {
    display: flex;
    margin-top: -20px;
    float: right;
}

#likeAndImg {
    display: flex;
    flex-direction: column;
}